html{
  height: 100%;
}
body{
  height: 100%;
  background: #f5f5f5;
  position: relative;
}
textarea{
  resize: none;
}
form{
  margin-bottom: 0;
}
/***Login Page***/
.login-form{
  max-width: 300px;
  padding: 19px 29px;
  margin: 10% auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.login-form h2{
  margin-top: 0;
  text-align: center;
}
.login-form .input-wrap{
  margin-bottom: 15px;
}
.login-form input[type="text"], 
.login-form input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 0;
padding: 7px 9px;
}
.login-form .input-wrap .text-error{
  font-size: 12px;
}
/***Admin Panel***/
.header .navbar-inner{
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.box{
  background: #fff;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
  margin-bottom: 20px;
}
.content{
  padding: 0 15px 15px;
}
.form_action{
  margin-top: 10px;
}
.title_line{
  margin-top: 0;
}
.footer{
  padding: 10px;
}
.footer p{
  margin: 0;
}
/******************/

/***Static pages***/
#static_form .label-important{ 
  position: absolute;
  right: 0;
  top: 0;
}
/******************/

#overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#overlay:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/ajax-loader.gif) no-repeat center center;
  z-index: 2;
}
#overlay:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .5;
  z-index: 1;
}
.pages_wrap{
  position: relative;
}
.alert p{
  margin-bottom: 0;
  margin-top: 5px;
}
.alert p:first-child{
  margin-top: 0;
}
.pagination{
  margin-bottom: 0;
}

#stats_list{
  position: relative;
}
#photo_uploader{
  margin-bottom: 10px;
}

#upload_result .comment_wrap .image_description{
  height: 30px;
  margin: 4px 0 0 0;
  width: 100%;
  box-sizing: border-box;
}
#upload_result .item,
#upload_result .item .thumbnail{
 position: relative;
}
#upload_result .item input[type=checkbox]{
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 5;
}
#upload_result .delete_item{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #000;
  cursor: pointer;
	border-radius: 50%;
	background: #f5f7fc;
	box-shadow: 0 1px 2px #dfdfdf, inset 0 2px #fff;
	border: solid 1px #a4a4a4;
	background-image: -webkit-linear-gradient(bottom, #dfe1e3, #fff);
	background-image: -moz-linear-gradient(bottom, #dfe1e3, #fff);
	background-image: linear-gradient(to top, #dfe1e3, #fff);
	cursor: pointer;
  z-index: 3;
}
#upload_result .delete_item:before{
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url('../img/delete.png') no-repeat center center;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;	
}
#upload_result .delete_item:hover{
	background-color: #ff6364;
	box-shadow: 0 1px 2px #dfdfdf, inset 0 2px #fe9fa0;
	border: solid 1px #b10607;
	background-image: -webkit-linear-gradient(bottom, #ee2324, #ff6364);
	background-image: -moz-linear-gradient(bottom, #ee2324, #ff6364);
	background-image: linear-gradient(to top, #ee2324, #ff6364);
}
#upload_result .delete_item:hover:before{
	background: url('../img/delete-hover.png') no-repeat center center;
}
#upload_result .delete_item:active{
	background-color: #ee2324;
	box-shadow: 0 1px 2px #dfdfdf;
	border: solid 1px #b10607;
	background-image: -webkit-linear-gradient(top, #ee2324, #ff6364);
	background-image: -moz-linear-gradient(top, #ee2324, #ff6364);
	background-image: linear-gradient(to bottom, #ee2324, #ff6364);
}
#upload_result .item.loading .thumbnail:before{
  content: '';
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
}
#upload_result .item.loading .thumbnail:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background: url(../img/small_loader.gif) no-repeat;
  z-index: 2;
}

#settings_form{
  position: relative;
}