*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body{
  position: relative;
  background: #fff;
  font: 14px Arial, sans-serif;
  color: #000;
}
:focus{
  outline: none;
}
a{
  color: #767474;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
h1{
  font-size: 22px;
  font-weight: normal;
}
li{
  list-style: none;
}
textarea{
  resize: none;
}
form{
  margin-bottom: 0;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

#wrap{
  position: relative;
  width: 980px;
  margin: 0 auto;
}

/***Header***/
#header{
  padding: 20px 0;
  border-bottom: 1px solid #767474;
}
#header .logo{
  float: left;
  font: 22px Tahoma, Helvetica, sans-serif;
}
#header .logo span{
  display: block;
  font-size: 28px;
  line-height: 1;
}
/**********/

/***Menu***/
#top_menu{
 float: right;
 margin-top: 20px;
}
#top_menu li{
  float: left;
  margin-left: 6px;
}
#top_menu li:before{
  content: '|';
  color: #767474;
  margin-right: 6px;
}
#top_menu li:first-child:before{
  display: none;
}
/**********/

/***Content***/
#content{
  margin-top: 20px;
}
#content  .works{
  margin-left: -20px;
  padding-bottom: 20px;
}
#content .work_item{
  position: relative;
  float: left;
  width: 230px;
  height: 230px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: #767474;
  overflow: hidden;
}
#content .work_item a{
  display: block;
  width: 230px;
  height: 230px;
}
#content .work_item img{
  display: block;
  transition: all .3s ease;
}
#content .work_item:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
#content .work_item:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#content .work_item .title{
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: -30%;
  width: 100%;
  padding: 10px 20px;
  opacity: 0;
  background: rgba(0,0,0,0.75);
  color: #fff;
  transition: all .3s ease;
  word-wrap: normal;
  text-overflow: ellipsis;
  z-index: 2;
}
#content .work_item:hover .title{
  opacity: 1;
  top: 0;
}
#content .more{
  display: block;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  border: none;
  font: 16px/40px Arial, Helvetica, sans-serif;
  color: #fff;
  background: #555;
  transition: background .3s ease;
  cursor: pointer;
}
#content .more:hover{
  background: #767474;
}
#content .more:active{
  background: #767474;
  box-shadow: inset 0 2px rgba(0, 0, 0, 0.3);
}
#content .page_inner,
#content .pages_list{
  padding: 20px 0;
}
.works_images{
  margin-top: 10px;
  padding-top: 10px;
}
.works_images .item{
  float: left;
  width: 200px;
  padding: 4px;
  margin-left: 10px;
  line-height: 20px;
  border: 1px solid #767474;
  cursor: pointer;
}
.works_images .item:first-child{
  margin-left: 0;
}
.works_images .item img{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*************/

/***Footer***/
#footer{
  padding: 20px 0 40px;
  margin-top: 40px;
  border-top: 1px solid #767474;
}
/************/