*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  height: 100%;
  background: #fff;
  font: 14px Arial, sans-serif;
  color: #000;
}
a{
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
textarea{
  resize: none;
}
form{
  margin-bottom: 0;
}
